<div id="<%= dom_id create_group_bill %>">
  <p>
    <strong>Group:</strong>
    <%= create_group_bill.group_id %>
  </p>

  <p>
    <strong>Bill:</strong>
    <%= create_group_bill.bill_id %>
  </p>

</div>
