<p style="color: green"><%= notice %></p>

<%= render @bill %>

<div>
  <%= link_to "Back to bills", group_path(@bill.group_id) %>
<% if can? :destroy, @bill %>
  <%= button_to "Destroy this bill", group_bill_path(@bill.group_id, @bill), method: :delete %>
<% end %>
</div>
